<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<table class="table table-bordered table-striped w-25">
  <tbody>
    <!-- Recorre las filas de datos -->
    <tr style="border: 1px solid black;">

      <td>
        <p>Primero</p>
        <button class="btn btn-primary" (click)="toggleVisibility(1)">Mostrar/Ocultar</button>
        <br>
        <p *ngIf="showContent[0]">Contenido del Primero</p>
      </td>
      <td>
        <p>Segundo</p>
        <button class="btn btn-primary" (click)="toggleVisibility(2)">Mostrar/Ocultar</button>
        <br>
        <p *ngIf="showContent[1]">Contenido del Segundo</p>
      </td>
    </tr>
    <tr>
      <td>
        <p>Tercero</p>
        <button class="btn btn-primary" (click)="toggleVisibility(3)">Mostrar/Ocultar</button>
        <br>
        <p *ngIf="showContent[2]">Contenido del Tercero</p>
      </td>
      <td>
        <p>Cuarto</p>
        <button class="btn btn-primary" (click)="toggleVisibility(4)">Mostrar/Ocultar</button>
        <br>
        <p *ngIf="showContent[3]">Contenido del Cuarto</p>
      </td>



    </tr>
  </tbody>
</table>
